/* 10/14/24 */

* { /* Asterisk means style for everything in page */
    box-sizing: border-box; /* determines the width and height of element. set width/height to include both content area and padding/border */
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;  /* 'Kumbh Sans' refers to the Google font we search up, referenced in the HTML */
    /* "google fonts kumbh" and get the embed link, reference in HTML in head */
}

/* Navbar CSS */
/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES THE NAViGATION BAR */
.navbar {   /* NOTE: the nav element is apparently bigger than the child div */
    /* background: #a02929; DELETE */
    display: flex;  /* make navigation section a flexbox, 1-D */
    justify-content: center;
    align-items: center;
    height: 80px;

    position: sticky;   /* Navigation bar specific, it should always be present in view positioned at the top */
    top: 0; /* this is required to keep the bar sticky. says that the navbar is spaced 0 units from the top of the page */
}

.navbar__container {    /* configures the separation of the items in the navbar */
    /* background: #131313; DELETE */
    display: flex;
    justify-content: space-between; /* keeps the logo on the left, and list on the right */
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;    /* organizes the navbar into a 1-D row */

}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES THE NAVBAR IMAGE */
.navbar__img--container {
    height: 100%;
    left: 0;
}

#navbar__logo { /* the logo of the site. Will be a part of the navigation bar, but not part of menu class */
    height: 100%;   /* image actually is bigger than div container, so have to set it manually */
}

.navbar__menu {
    background: #7ae770;
    display: flex;
    align-items: center;
    /* text-align: center; */
    flex-direction: row;
    height: 80px;
    
    
    list-style: none;   /* Menu specific. Gets rid of bullet point in front of list items */
}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES THE NAVBAR ITEMS */
.navbar__item {
    background: #8a3535;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    text-decoration: none;
    padding: 0 1rem;
}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES THE NAVBAR LINK BUTTONS */
.navbar__links {    /* configures the button links to other pages */
    background: #131313;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    
    /* Not sure if necessary */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES THE NAVBAR "PLAY NOW" BUTTON */
.navbar__btn {  /* configures the Play button with blue gradient */
    background-image: linear-gradient(to right, #add8e6 0%, #677de0 100%);
    cursor: pointer;
    height: 60px;
    width: 100px;    /* make the button fatter than the link buttons */
}

.navbar__btn a {  /* configures the text of the button to be white */
    color: #fff;
    text-decoration: none;  /* removes the text underline */
}

/* Description CSS */
.main {
    background-color: grey;
}

.main__container {  /* organizes the information blocks (aka services cards) into 1D column */
    display: flex;
    flex-direction: column;
}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES EACH INFORMATION BLOCK (THINK OF SERVICES CARDS) */
.main__content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 525px; DELETE */
}

#main__content--flipped {   /* reverses the image and text for the second information block */
    /* display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr; DELETE */
    direction: rtl; /* this is used to reverse grids. Stands for right-to-left */
}

.main__text {
    background-color: red;
    color: #fff;
    height: 17.3vw; /* this allows the information block to scale based on screen resolution. we use viewport width because we want the height of the information block to be adjusted only when the screen width shrinks */
    width: 100%;
    /*float: inline-end;*/  /* TODO: HAVE ALL TEXT TOWARDS CENTER AXIS. FLOAT RIGHT? */
}

.main__text h1 {   /* give h1 text an underline */
    margin-bottom: 1vw;   /* keeps the "Anime" text from "30,000+ Songs From 7000+ Anime" from constantly spazzing out when changing browser width */
    text-decoration: underline;
    float: inline-end;  /* keeps h1 text near center axis */
    font-size: 2vw; /* this allows the text to scale based on screen resolution. we use viewport width because we want the height of the text to be adjusted only when the screen width shrinks */
}

/* TODO: KEEP H2 TEXT NEAR CENTER AXIS AS WELL */
.main__text h2 {
    margin-top: 2.5vw;    /* creates a gap between text. this allows the gap between text to scale based on screen resolution. we use viewport width because we want the height of the text to be adjusted only when the screen width shrinks */
    font-size: 1.5vw;    /* this allows the text to scale based on screen resolution. we use viewport width because we want the height of the text to be adjusted only when the screen width shrinks */
    /*float: inline-start;*/    /* keeps h2 text away from center axis, towards edge */
}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES EACH INFORMATION BLOCK IMAGE */
.main__img--container {
    background-color: rgb(134, 72, 134);
    height: 27.3vw; /* this allows the image to scale based on screen resolution. we use viewport width because we want the height of the image to be adjusted only when the screen width shrinks */
    /* height: 525px; */
    width: 100%;
}

.main__img {
    height: 100%;
    width: auto;
}

/* CONTROLLER: THE SELECTOR THAT MAINTAINS SCALABILITY
SCALES THE INFORMATION BLOCK "GO BACK TO THE TOP" BUTTON */
.main__btn {  /* configures the Go button with blue gradient */
    background-image: linear-gradient(to right, #add8e6 0%, #677de0 100%);
    cursor: pointer;
    height: 100px;
    width: 400px;
    /* NOTE: another way to center an item is to set both margin-left and margin-right to auto */
    margin: 0 auto; /* another way of centering an item. this positions the button on the center axis */
    /* float: right; */
    /*margin-left: 745px;*/ /* centers the button by creating space from left margin */
    /* TODO: HAVE BUTTON SCROLL TO TOP WHEN CLICKED. REQUIRES JAVASCRIPT */
}

.main__btn p {  /* configures the text of the button to be white */
    color: #fff;
    font-size: 34px;
}

/* FOOTER CSS */
.footer {   /* not really necessary to make it a flex because there is only one item, the "footer__container" div */
    background: #131313;
    /* background-color: rgb(255, 231, 185); DELETE */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {    /* lists the links and the copyright into a 1-D row */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__links--container { /* lists the links groups into a 1-D row */
    /* background-color: rgb(255, 193, 234); */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NOTE: when you are using function nth-child(), you are NOT referencing A child of said attribute/class/id,
but rather you are referencing some element WITH said attribute/class/id, WHICH IS the nth child of some higher, unspecified parent */
/* NOTE: the selector :last-child does NOT work if the element is not the VERY LAST element in the container
good resource on this: https://stackoverflow.com/questions/18995362/last-child-not-working-as-expected */
/* .footer__links:nth-child(1) {
    background-color: #677de0;
    margin: 0 50px;
}
.footer__links:nth-child(2) {
    background-color: #677de0;
    margin: 0 50px;
}
.footer__links:nth-child(3) {
    background-color: #677de0;
    margin: 0 50px;
} */

.footer__links {    /* lists the links into a 1-D column */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* instead of accessing each child like above, just access them all with this line */
    background-color: #677de0;
    margin: 0 50px;
}

.footer__links h2 {
    color: #fff;
    font-size: 0.85vw;
}

.footer__links a {
    font-size: 0.85vw;
}

.copyright {
    background-color: #74a5a8;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 1.6vw;
}

/* TODO: CHANGE ALL OF THE VW SCALING SO THAT INSTEAD OF SHRINKING ANYTIME THE BROWSER WIDTH SHRINKS,
IT ONLY REACTS TO BROWSER SHRINKING AFTER BROWSER WIDTH REACHES A CERTAIN WINDOW WIDTH THRESHOLD */